.row.puzzle
  .span4
    .usercard
      .clearfix
        .avatar
          %a{:href => "/#{@puzzle.user.path}", :title => "#{@puzzle.user.user_name}"}
            = image_tag "#{@puzzle.user.avatar.url}", {:height  => '48px', :width => '48px'}
        .info
          %h2
            = link_to @puzzle.user.user_name,  "/#{@puzzle.user.path}"
          .stats
            %a{:href => "#{user_puzzles_page(@puzzle.user.path)}"}
              = @puzzle.user.puzzles.saved.count
              = t :puzzle
            %span •
            %a{:href => "#{user_answered_page(@puzzle.user.path)}"}
              = @puzzle.user.answers.count
              = t :answer
            %span •
            %a{:href => "#{user_followers_page(@puzzle.user.path)}"}
              = @puzzle.user.follower_cnt
              = t :follower
      - if current_user
        - if current_user.id != @puzzle.user.id
          - if current_user.has_followed(@puzzle.user)
            %a.btn.btn-success.unfollow-btn{:href => '', 'data-id' => @puzzle.user.id}
              %i.icon-ok.icon-white
              = t :already_follow
            %a.btn.btn-primary.follow-btn{:href => login_accounts_path, 'data-id' => @puzzle.user.id, :style => 'display:none'}
              = t :follow
          - else
            %a.btn.btn-success.unfollow-btn{:href => '', 'data-id' => @puzzle.user.id, :style => 'display:none'}
              %i.icon-ok.icon-white
              = t :already_follow
            %a.btn.btn-primary.follow-btn{:href => login_accounts_path, 'data-id' => @puzzle.user.id}
              = t :follow
      - else
        %a.btn.btn-primary.long-btn{:href => login_accounts_path}
          = t :follow
    -#
      .relate-puzzle
        %h2 
          = @puzzle.user.user_name
          = (t :create) + (t :s)
        .clearfix
          %a{:href => "", :title => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
          %a{:href => ""}
            %img{:height => "60px", :src => "http://cdntest.aliyun.com/faxianla/water/m457678-1337305970870.jpg", :width => "60px"}
    .puzzle-stat
      %p
        = t :create_time
        %span
          = format_time(@puzzle.created_at)
      %p
        = t :total_answers
        %span
          = @puzzle.answers.count
      - if @puzzle.has_best_answer == true
        %p.correct
          = t :has_correct_answer
      - else
        %p
          = t :no_correct_answer
    -#
      .sponsor-ads
        Ads
  .span8
    .puzzle-detail{'data-id' => @puzzle.id}
      - if @puzzle.puzzle_type == 'image'
        %a.puzzle-img{:href => @puzzle.image.url}
          = image_tag @puzzle.image_detail
      - else
        .puzzle-text
          = raw(@puzzle.lines)
      .meta
        %p.desc
          = @puzzle.desc
        .tags
          %span
            = t :tag
          - @puzzle.get_tag_names.each do |tag|
            = link_to tag, "/tag/#{tag}"
        .actions.clearfix
          .left
            -#
              %a.btn.js-retweet{:href => ""}
                %i.icon-retweet
                = t :retweet
            - if current_user
              - if current_user.voted_for? @puzzle
                %a.btn.favorite.js-favorite{:href => "#"}
                  %i.icon-heart
                  = t :favorite
              - else
                %a.btn.js-favorite{:href => "#"}
                  %i.icon-heart
                  = t :favorite
            - else
              %a.btn{:href => login_accounts_path}
                %i.icon-heart
                = t :favorite
            - if current_user && current_user.id == @puzzle.user.id
              %a.btn{:href => edit_puzzle_path(@puzzle.id)}
                %i.icon-edit
                = t :edit
          .right
            / JiaThis Button BEGIN
            #ckepop
              %span.jiathis_txt
                = t :share_to
              %a.jiathis_button_douban
              %a.jiathis_button_tsina
              %a.jiathis_button_tqq
              %a.jiathis_button_renren
              %a.jiathis_button_qzone
              %a.jiathis_button_email
            :javascript
              var desc = '#{@puzzle.desc}'
              if (desc == '') {
                desc = "快来猜猜这是什么电影吧！"
              }
              var jiathis_config={
                title: desc,
              }
            %script{:charset => "utf-8", :src => "http://v2.jiathis.com/code/jia.js", :type => "text/javascript"}
            / JiaThis Button END
      = render "shared/comment_tpl"
      - if current_user
        = hidden_field_tag(:current_user_id, current_user.id)
      .detail-section.answers#answer
        %ul
          - is_correct = @answer.is_best ? 'correct' : 'not-correct'
          %li{:id => "answer-#{@answer.id}", :class => is_correct}
            %a.avatar{:href => "/#{@answer.user.path}"}
              = image_tag "#{@answer.user.avatar.url}", {:height  => '50px', :width => '50px'}
            .answer-edit.clearfix{:style => 'display:none'}
              %textarea
              %button.btn.btn-primary.js-save
                = t :save
              %button.btn.js-cancel
                = t :cancel
            .answer-body
              %a.username{:href => "/#{@answer.user.path}"}
                = @answer.user.user_name
              %p
                = @answer.content
              .answer-actions
                - if current_user && current_user.id == @puzzle.user.id
                  .top
                    %a.js-mark-as-correct{:href => "#"}
                      = t :mark_as_correct
                    %a.js-cancel-mark-as-correct{:href => "#"}
                      = t :cancel_mark_as_correct
                .bot
                  - voted_up = current_user && current_user.voted_up_on?(@answer) ? 'voted' : ''
                  - voted_down = current_user && current_user.voted_down_on?(@answer) ? 'voted' : ''
                  %a.js-upvote{:href => '#', :class => voted_up}
                    = (t :upvote) + "(#{@answer.upvotes.size})"
                  %a.js-downvote{:href => '#', :class => voted_down}
                    = (t :downvote) + "(#{@answer.downvotes.size})"
                  %a.js-comment{:href => "#"}
                    = (t :comment) + "(#{@answer.comments.count})"
                  - if current_user && current_user.id == @answer.user.id
                    %a.js-edit{:href => "#"}
                      = t :edit
                  %span.timestamp
                    %a{:href => puzzle_answer_path(@puzzle, @answer)}
                      = format_time(@answer.created_at)
            %ul.comments
      .detail-section.view-all-answer
        %a{:href => puzzle_path(@puzzle)}
          = t :view_all_answer
      - if current_user
        :javascript
          current_user_avatar = '#{current_user.avatar_small}'
      - else
        :javascript
          current_user_avatar = ''
      :javascript
        if (window.location.hash == '')
          window.location.href += '#answer';
        comments_open = true;
