.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"}
        = t :site_name
      %ul.nav
        - global_nav_items.each do |nav|
        - active = nav[:id] == @page_id ? 'active' : ''
          %li{:class => "#{active}"}
            = link_to nav[:name], nav[:url]
      -# TODO search box
        %form.navbar-search.pull-left
          %input.search-query{:type => "text"}
      %ul.nav.pull-right
        - if current_user
          %li
            = link_to current_user.user_name,  "/#{current_user.path}"
          %li
            %a.notification{:href => notifications_path}
              = t :notification
              %span.badge 1
          %li
            = link_to (t :setting),  settings_accounts_path
          %li
            = link_to (t :logout), logout_path
        - else
          %li
            = link_to (t :login), login_accounts_path, {"data-target" => "#login_modal", "data-toggle" => "modal"}
          %li
            = link_to (t :signup), signup_accounts_path
      - if current_user
        %ul.nav.pull-right
          %li
            = link_to (t :create), new_puzzle_path, {"data-target" => "#create_modal", "data-toggle" => "modal", :id => "create_btn"}
