- if flash[:notice].present?
  .row.info
    .span12
      .alert.alert-success
        = flash[:notice]
.row.login
  .span8
    = form_tag sessions_path, :class => 'form-horizontal' do
      %fieldset
        %legend
          = t :login
        - error = flash[:alert].blank? ? '' : 'error'
        .control-group{ :class => "#{error}"}
          = label_tag :email, (t :email), :class => 'control-label'
          .controls
            = text_field_tag :email, params[:email]
            %span.help-inline
              = flash[:alert]
        .control-group
          = label_tag :password, (t :password), :class => 'control-label'
          .controls
            = password_field_tag :password
            %span.help-inline
              = link_to (t :forgot_password), new_forgot_password_path
        .submit.clearfix
          %label
            = check_box_tag :remember
            = t :remember_me
          = hidden_field_tag :redirect, @referer
          = submit_tag (t :login), { :class => 'commit btn btn-primary' }
  
    .social
      %h3
        = t :use_oauth
      %ul.js-oauth-links.clearfix
        %li
          %a{:href => "/auth/douban"}
            = image_tag "douban_login.png", {:alt => "#{t :use_oauth_douban}"}
        %li
          %a{:href => "/auth/weibo"}
            = image_tag "weibo_login.png", {:alt => "#{t :use_oauth_weibo}"}
        %li
          %a{:href => "/auth/qq_connect"}
            = image_tag "qq_login.png", {:alt => "#{t :use_oauth_qq}"}
      -#
        %li
          %a{:href => "/auth/xiaonei"}
            = image_tag "renren_login.png", {:alt => "#{t :use_oauth_renren}"}
  .span4
    .signup
      = t :has_no_account
      = link_to (t :signup_instantly), signup_accounts_path
